<style>
    footer {
      color: #808080;
    }
</style>
<p>
<p class="text-justify">
  O software web <strong>"INFO DOE"</strong> é uma plicação desenvolvida pelo aluno Ismael Pontes
  que tem como objetivo recuperar e apresentar dados de Atos de Nomeação do Diário Oficial do Estado 
  do Tocantins <strong>(DOE)</strong> para a disciplina de Estágio Supervisionado tendo como orientador 
  o Professor e Mestre Jackson Gomes.
</p>
<footer class="fixed-bottom">
        <div class="container">
          <div class="row">
            <div class="col">
                <p><strong>INFO DOE</strong> é um software proposto para a matéria de Estagio Supervisionado.</p>
            </div>
            <div class="col">
                <p class="text-center">&copy; 2019</p>
            </div>
            <div class="col">
              O <strong>INFO DOE</strong> recupera e apresenta dados de Atos de Nomeação do DOE do Tocantins.
              <p>
            </div>
          </div>
        </div>
    </footer>