<style>
    footer {
      color: #808080;
    }
</style>
<p>
<p>
<div calss="d-flex align-items-center">
    <h2><p class="text-center">Tente novamente</p></h2>
    <h5><p class="text-center">A página não pode ser carregada ou encontrada. Tente novamente mais tarde...</p></h5>
</div>

<footer class="fixed-bottom">
        <div class="container">
          <div class="row">
            <div class="col">
                <p><strong>INFO DOE</strong> é um software proposto para a matéria de Estagio Supervisionado.</p>
            </div>
            <div class="col">
                <p class="text-center">&copy; 2019</p>
            </div>
            <div class="col">
              O <strong>INFO DOE</strong> recupera e apresenta dados de Atos de Nomeação do DOE do Tocantins.
              <p>
            </div>
          </div>
        </div>
    </footer>
