<style>
  .big {
    font-size: 900%;
    text-align: center;
  }
  .big:hover {
    font-size: 1000%;
    color: rgb(30, 120, 230);
  }
  footer {
    color: #808080;
  }
</style>
<p></p>
<h1>Estatística Geral</h1>
<p></p>
<table class="table">
  <thead>
    <tr>
      <th class="text-center">Diários Publicados</th>
      <th class="text-center">Atos Publicados</th>
      <th class="text-center">Nomeados</th>
      <th class="text-center">Cargos</th>
      <th class="text-center">Secretarias</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="big">{{ diarios }}</td>
      <td class="big">{{ atos }}</td>
      <td class="big">{{ nomeados }}</td>
      <td class="big">{{ cargos }}</td>
      <td class="big">{{ secretarias }}</td>
    </tr>
  </tbody>
</table>
<footer class="fixed-bottom">
  <div class="container">
    <div class="row">
      <div class="col">
        <p>
          <strong>INFO DOE</strong> é um software proposto para a matéria de
          Estagio Supervisionado.
        </p>
      </div>
      <div class="col">
        <p class="text-center">&copy; 2019</p>
      </div>
      <div class="col">
        O <strong>INFO DOE</strong> recupera e apresenta dados de Atos de
        Nomeação do DOE do Tocantins.
        <p></p>
      </div>
    </div>
  </div>
</footer>
